@font-face {
  font-family: "WavvePADO-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.title {
  color: #153448;
  background-color: #dfd0b8;
  font-family: "WavvePADO-Regular";
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0%;
  height: 25px;
}

.movie-search {
  height: 20px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: auto;
  border-radius: 5px;
  border: 2px dashed #153448;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
  background-color: #dfd0b8;
  font-family: "Pretendard-Regular";
  border: 3px solid #153448;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 1px 1px rgba(0, 0, 0, 0.23);
  height: 600px;
  width: 250px;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  /* box-shadow: 5px 5px 10px; */
}
.card > h1 {
  font-size: 25px;
  margin-top: 20px;
}

.card > p {
  font-size: 15px;
  margin-top: 0%;
}

.card-image {
  width: auto;
}

input {
  width: 200px;
  margin: 10px;
}
button {
  margin: 0%;
}

label {
  margin: 0%;
}

div {
  margin: auto;
}
